<div class="container">
    <div id="header" class="row">
        <div class="col-md-2">
            <a href="/"><img src="/assets/logo/jnrpe.png" alt="JNRPE" usemap="#logosmmap"/>
            <map name="logosmmap">
                <area shape="rect" coords="45,90,120,106" href="https://www.jnrpe.it" alt="JNRPE">
            </map></a>
        </div>
        <div class="col-md-10">
            <ul id="tabs" class="nav nav-tabs ">
                <li
                >
                <a href="/getstarted"><i class="fa fa-play"></i> GET STARTED</a></li>
                <li
                >
                <a href="/documentation"><i class="fa fa-book"></i> DOCUMENTATION</a></li>
                <li
                >
                <a href="/blog"><i class="fa fa-comment"></i> BLOG</a></li>
                <li
                >
                <a href="/support"><i class="fa fa-life-ring"></i> SUPPORT</a></li>
                <li
                >
                <a href="/about"><i class="fa fa-question-circle"></i> ABOUT</a></li>
            </ul>
        </div>
    </div>
</div>